PYTHONPATH=~/dev/ai/ragify

# Server Configuration
PORT=1337

# CORS Configuration (comma-separated)
CORS_ORIGINS=http://localhost:3000

# Database Configuration
DATABASE_URL=postgresql+asyncpg://ragify:ragify@localhost:5432/ragify
POSTGRES_PORT=5432
POSTGRES_USER=ragify
POSTGRES_PASSWORD=ragify
POSTGRES_DB=ragify

# Auth
JWT_SECRET=super-secret-code
JWT_EXPIRES_MINUTES=180

# VectorDB Config
VECTORDB_URL=http://localhost:6333/
QDRANT_HTTP_PORT=6333
QDRANT_GRPC_PORT=6334

# Classification
CLASSIFICATION_URL=
CLASSIFICATION_MODEL=
CLASSIFICATION_API_KEY=

# LLM
LLM_URL=
LLM_MODEL=
LLM_API_KEY=


# Web Search
TAVILY_API_KEY=
