# Server Configuration
PORT=1337

# CORS Configuration (comma-separated)
CORS_ORIGINS=http://localhost:5173

# Database Configuration
MONGODB_URI=mongodb://myuser:mypassword@localhost/admin
MONGO_DATA_PATH=./mongo_data_volume
MONGO_ROOT_USER=myuser
MONGO_ROOT_PASSWORD=mypassword
